.RoleDetailPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.RoleDetailPage-forms {
    display: flex;
    justify-content: space-evenly;
}