.RolesPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

.RolesPage-link {
    color: grey;
    font-size: 22px;
    margin-bottom: 10px;
}

.RolesPage-link:hover {
    text-decoration: underline;
}