.Habit { 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.orange {
    color:orange;
}

.vAlign {
    display: flex;
    align-items: center;
}

.Habit-complete {
    width: 100px;
}