.Habit { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Habit-complete {
    width: 110px;
}


.Habit-controls {
    display: flex;
    justify-content: right;
}

.Habit-link { 
    color: black;
}

.Habit-link:hover { 
    text-decoration: underline;
}

.Streak-orange {
    color: orange;
}

.Streak-grey {
    color: grey;
}