.Habit { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Habit-complete {
    width: 110px;
}

.Habit-text {
    display: flex;
    justify-content: left;
    
}


.Habit-controls {
    display: flex;
    justify-content: right;
}

.Habit-link { 
    color: grey;
}

.Habit-link:hover { 
    text-decoration: underline;
}